* {
  font-family: Roboto;
  background-color: Ivory;
  padding-left: 20px;
}

/* Cascading rgb and rgba for compatibility */
h1{
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  padding-top: 50px;
  color: rgb(2, 93, 104);
  color: rgba(2, 93, 104, 0.9);
}

p {
  font-size: 16px;
  color: DarkSlateGrey;
}
